                    *,
                    *::before,
                    *::after {
                        box-sizing: border-box;
                    }
                    
                    ul[class],
                    ol[class],
                    button {
                        padding: 0;
                    }
                    
                    body,
                    h1,
                    h2,
                    h3,
                    h4,
                    p,
                    ul[class],
                    ol[class],
                    li,
                    figure,
                    figcaption,
                    blockquote,
                    dl,
                    dd {
                        margin: 0;
                    }
                    
                    img {
                        display: block;
                        max-width: 100%;
                    }
                    
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    
                    body {
                        font-family: 'Montserrat', sans-serif;
                        background-color: #1b1e22;
                        color: #fff;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    
                    button {
                        font-family: inherit;
                        border: none;
                        cursor: pointer;
                    }
                    
                    header {
                        padding: 20px 0;
                        position: fixed;
                        z-index: 99;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                    
                    .container {
                        max-width: 1132px;
                        margin: auto;
                    }
                    
                    .header-wrapper,
                    .logo-language-wrapper,
                    .menu-help-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                    }
                    
                    .logo {
                        transform: translateY(14px);
                    }
                    
                    .language-button-wrapper {
                        padding-left: 18px;
                    }
                    
                    .language-switch-wrapper {
                        display: none;
                    }
                    
                    .language-switch-wrapper li {
                        list-style: none;
                        font-size: 14px;
                        line-height: 26px;
                    }
                    
                    .language-button {
                        font-size: 13px;
                        line-height: 16px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        margin-left: 10px;
                        color: rgba(196, 196, 196, 0.5);
                    }
                    
                    .language-button-inactive {
                        color: rgba(196, 196, 196, 0.5);
                    }
                    
                    .language-button-active {
                        color: #fff;
                    }
                    
                    header nav ul {
                        display: flex;
                        justify-content: flex-end;
                    }
                    
                    header nav li {
                        display: inline-block;
                        list-style: none;
                        margin-left: 36px;
                        font-size: 18px;
                        line-height: 32px;
                    }
                    
                    header nav li:first-child {
                        margin-left: 0;
                    }
                    
                    .help-button {
                        display: inline-block;
                        padding: 7px 34px;
                        border: solid #FFB800 1px;
                        border-radius: 10px;
                        color: #fff;
                        font-size: 18px;
                        line-height: 32px;
                        background-color: transparent;
                        margin-left: 35px;
                    }
                    
                    .mobile-menu-button,
                    .language-button-switch {
                        display: none;
                        border: none;
                        background-color: transparent;
                    }
                    
                    .mobile-menu-button {
                        transform: translateY(12px);
                    }
                    
                    .button:not(.help-button) {
                        display: inline-block;
                        padding: 12px 38px;
                        border: solid #FFB800 1px;
                        border-radius: 4px;
                    }
                    
                    .button:hover {
                        background-color: #FFB800;
                        color: #000;
                    }
                    
                    section {
                        padding-bottom: 47px;
                    }
                    
                    .box-about-main-wrapper {
                        padding-top: 241px;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%), url(../images/background-picture.jpg) no-repeat center/cover;
                    }
                    
                    .box-about-main {
                        position: relative;
                    }
                    
                    .box-about-main-text {
                        width: 475px;
                        line-height: 38px;
                    }
                    
                    h1 {
                        font-weight: 500;
                        font-size: 48px;
                        line-height: 58px;
                        margin-bottom: 25px;
                    }
                    
                    .box-tour-seach-wrapper {
                        position: absolute;
                        top: -65px;
                        right: -70px;
                        max-width: 500px;
                        background: rgba(51, 51, 51, 0.25);
                        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(24px);
                        border-radius: 10px;
                        padding: 42px 70px 55px;
                    }
                    
                    .box-tour-seach {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        position: relative;
                    }
                    
                    .box-tour-seach-wrapper input,
                    .box-tour-seach-wrapper select {
                        display: inline-block;
                        color: #fff;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        letter-spacing: 0.1em;
                        padding: 8px 13px 10px;
                        border: 1px solid #FFFFFF;
                        border-radius: 4px;
                        background: transparent;
                        margin-top: 22px;
                    }
                    
                    .box-tour-seach-wrapper ._error {
                        box-shadow: 0 0 10px red;
                    }
                    
                    .box-tour-seach-wrapper label {
                        display: inline-block;
                        color: #fff;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.1em;
                        padding: 8px 0 10px;
                    }
                    
                    .box-tour-seach-wrapper input:first-of-type {
                        padding-right: 24px;
                    }
                    
                    .box-tour-seach-wrapper select {
                        padding: 8px 24px 10px 9px;
                    }
                    
                    .trip-direction,
                    .box-tour-seach select {
                        width: 100%;
                    }
                    
                    .trip-start,
                    .trip-duration {
                        width: calc((100% - 24px)/2);
                    }
                    
                    .box-tour-seach-wrapper input::placeholder {
                        color: #fff;
                    }
                    
                    .box-tour-seach-wrapper input:focus {
                        outline: none;
                    }
                    
                    .box-tour-seach-wrapper input:focus::placeholder {
                        opacity: 0;
                    }
                    
                    .box-tour-seach-wrapper option {
                        background: rgb(27, 30, 34, 0.85);
                    }
                    
                    .box-tour-seach img {
                        position: absolute;
                        right: 10px;
                        top: 32px;
                    }
                    
                    .submit-tour {
                        display: block;
                        width: 100%;
                        padding: 6px 0 8px;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #333333;
                        background: #FFB800;
                        border: none;
                        border-radius: 4px;
                        margin-top: 22px;
                        box-shadow: none;
                    }
                    
                    [disabled] {
                        background: #ffb7005d;
                    }
                    
                    h2 {
                        font-weight: 500;
                        font-size: 34px;
                        line-height: 38px;
                        margin-bottom: 42px;
                    }
                    
                    h3 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    
                    .box-about {
                        margin: 277px 0 21px;
                        text-align: center;
                    }
                    
                    .box-about-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    
                    .box-about-card {
                        width: 264px;
                        text-align: center;
                    }
                    
                    .box-about-card img {
                        display: inline-block;
                        margin-bottom: 14px;
                    }
                    
                    .box-actual-direction {
                        text-align: center;
                        padding-bottom: 71px;
                    }
                    
                    .box-actual-direction h2 {
                        margin-bottom: 18px;
                    }
                    
                    .box-direction-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        text-align: left;
                    }
                    
                    .box-direction {
                        background-color: #23282F;
                        max-width: 361px;
                        border-radius: 4px;
                        position: relative;
                        margin-top: 24px;
                        transition: 1s;
                    }
                    
                    .box-direction img {
                        border-radius: 4px 4px 0 0;
                    }
                    
                    .tour-wrapper {
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        position: absolute;
                        top: 159px;
                        left: 0;
                    }
                    
                    .main-tour {
                        color: #1B1E22;
                        background: #FFB800;
                        padding: 4px 5px 4px 5px;
                    }
                    
                    .tour-wrapper .price-of-tour {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    
                    .date-and-duration-of-tour {
                        background: #1B1E22;
                        opacity: 0.75;
                        border-radius: 0px 6px 6px 0px;
                        padding: 7px 5px 8px 5px;
                        color: #fff;
                    }
                    
                    .box-direction-discription {
                        padding: 16px 20px 24px;
                        display: flex;
                        flex-direction: column;
                        height: 216px;
                        transition: 1s;
                    }
                    
                    .box-direction-discription p {
                        margin: 17px 0;
                        flex-grow: 1;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    
                    .box-direction-discription a {
                        opacity: 0.5;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                    }
                    
                    .box-direction:hover {
                        background-color: #fff;
                        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.75);
                        transform: scale(1.06);
                    }
                    
                    .box-direction:hover .box-direction-discription {
                        color: #333333;
                        padding: 14px 25px 24px;
                        font-size: 12px;
                        line-height: 18px;
                    }
                    
                    .box-direction:hover .box-direction-discription h3 {
                        font-size: 18px;
                        line-height: 22px;
                    }
                    
                    .box-direction:hover .box-direction-discription p {
                        margin: 12px 0;
                    }
                    
                    .box-direction:hover a {
                        color: #000;
                    }
                    
                    .box-direction:hover .tour-wrapper {
                        top: 173px;
                    }
                    
                    .box-statistic {
                        background: linear-gradient(180deg, rgba(27, 30, 34, 0.75), rgba(27, 30, 34, 0.75)), url(../images/background-picture-for-section-three.jpg) no-repeat center/cover;
                        padding: 80px 0 68px;
                    }
                    
                    .box-statistic-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    
                    .box-statistic-card {
                        font-weight: 500;
                        max-width: 264px;
                        flex-grow: 1;
                        text-align: center;
                    }
                    
                    .statistic-number {
                        color: #FFB800;
                        font-size: 78px;
                        line-height: 58px;
                        margin-bottom: 35px;
                    }
                    
                    .box-our-blog {
                        padding: 62px 0;
                        text-align: center;
                    }
                    
                    .box-our-blog-wrapper,
                    .box-our-blog-card-second {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    
                    .box-our-blog-card-first {
                        max-width: 552px;
                        background: linear-gradient(180deg, rgba(31, 31, 31, 0.65), rgba(31, 31, 31, 0.65)), url(../images/background-picture-for-section-blog.jpg) no-repeat center/cover;
                        padding: 51px 16px 266px;
                        border-radius: 4px;
                    }
                    
                    .box-our-blog-card-second {
                        width: 552px;
                    }
                    
                    .box-our-blog-card-first a {
                        font-weight: 500;
                        font-size: 34px;
                        line-height: 38px;
                    }
                    
                    .box-our-blog-card-first p {
                        font-size: 13px;
                        line-height: 16px;
                        margin-top: 28px;
                    }
                    
                    .box-our-blog-card {
                        max-width: 264px;
                        background: #23282F;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                        border-radius: 4px;
                    }
                    
                    .box-our-blog-card img {
                        border-radius: 4px 4px 0 0;
                    }
                    
                    .box-our-blog-card-wrapper {
                        padding: 20px;
                        text-align: start;
                        height: 264px;
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .box-our-blog-card a {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    
                    .box-our-blog-card p {
                        flex-grow: 1;
                        font-size: 14px;
                        line-height: 20px;
                        margin-top: 14px;
                    }
                    
                    .box-our-blog-card-information {
                        font-size: 13px;
                        line-height: 16px;
                        color: rgba(255, 255, 255, 0.5);
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .comments-of-public,
                    .likes-of-public {
                        padding-left: 19px;
                        cursor: pointer;
                        font-size: 13px;
                        line-height: 16px;
                        vertical-align: baseline;
                        color: rgba(255, 255, 255, 0.5);
                    }
                    
                    .box-our-blog-card-information a {
                        font-size: 13px;
                        line-height: 16px;
                    }
                    
                    .comments-of-public {
                        background: url(../images/chat-logo.svg) no-repeat left center;
                    }
                    
                    .active {
                        color: #fff;
                        background: url(../images/like-active-logo.svg) no-repeat left center;
                    }
                    
                    .inactive {
                        background: url(../images/like-inactive-logo.svg) no-repeat left center;
                    }
                    
                    .button-box-direction {
                        margin: 48px 0 0;
                    }
                    
                    .box-reviews-of-clients {
                        text-align: center;
                    }
                    
                    .box-reviews-of-clients-wrapper {
                        max-width: 924px;
                        margin: auto;
                        background: url(../images/quotes.svg) no-repeat center 190px;
                    }
                    
                    .box-reviews-of-clients-wrapper h2 {
                        margin-bottom: 36px;
                    }
                    
                    .box-reviews-of-clients-wrapper img {
                        margin: 0 auto 30px;
                    }
                    
                    .review {
                        font-size: 24px;
                        line-height: 32px;
                    }
                    
                    .name-review {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 16px;
                        color: #FFB800;
                        margin-top: 10px;
                    }
                    
                    .button-slider-wrapper {
                        width: 48px;
                        margin: 32px auto 0;
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .button-slider {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                    }
                    
                    .button-slider-inactive {
                        background: rgba(255, 255, 255, 0.5);
                    }
                    
                    .button-slider-active {
                        background: #fff;
                    }
                    
                    .our-contacts-wrapper {
                        display: flex;
                    }
                    
                    footer {
                        font-size: 13px;
                        line-height: 16px;
                        color: #FFB800;
                    }
                    
                    footer a:not(.box-social-media a:first-child),
                    footer span {
                        font-size: 13px;
                        line-height: 16px;
                        color: #FFFFFF;
                        padding-left: 27px;
                    }
                    
                    .our-contacts-wrapper {
                        padding: 14px 128px 35px;
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .our-contacts-adress,
                    .box-phone,
                    .our-contacts-social-media {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 55px;
                    }
                    
                    .our-contacts-phone {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .box-social-media {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: baseline;
                    }
                    
                    .popup {
                        width: 75%;
                        padding: 20px;
                        background-color: #3c444d;
                        border-radius: 5px;
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        box-shadow: 5px 5px 5px #000;
                        font-size: 12px;
                        display: none;
                    }
                    
                    .popup h2 {
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    .popup-button {
                        width: 20px;
                        height: 20px;
                        background-color: #FFB800;
                        border-radius: 3px;
                        font-size: 20px;
                        line-height: 20px;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        box-shadow: 2px 2px 2px #000;
                    }
                    
                    @media (max-width: 1270px) {
                        .box-tour-seach-wrapper {
                            padding: 42px 30px 55px;
                            right: -30px;
                            max-width: 420px;
                        }
                    }
                    
                    @media (max-width: 1180px) {
                        .container {
                            max-width: 92%;
                        }
                        .box-direction-wrapper {
                            justify-content: space-around;
                        }
                        .box-direction {
                            max-width: 300px;
                        }
                        .tour-wrapper {
                            top: 100px;
                        }
                        .box-direction-discription {
                            height: 300px;
                        }
                        .box-direction:hover .tour-wrapper {
                            top: 130px;
                        }
                        .box-our-blog-wrapper {
                            justify-content: space-around;
                        }
                        .box-our-blog-card {
                            margin: 20px 0;
                        }
                    }
                    
                    @media (max-width: 1148px) {
                        .box-about-card {
                            width: 200px;
                        }
                        .our-contacts-wrapper {
                            padding: 14px 28px 35px;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    
                    @media (max-width: 1020px) {
                        header nav li {
                            margin-left: 15px;
                        }
                        .help-button {
                            margin-left: 15px;
                        }
                        .box-direction {
                            max-width: 360px;
                        }
                        .tour-wrapper {
                            top: 150px;
                        }
                        .box-direction-discription {
                            height: 220px;
                        }
                        .box-direction:hover .tour-wrapper {
                            top: 170px;
                        }
                        .box-statistic-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                        }
                        .box-statistic-card {
                            font-weight: 500;
                            max-width: 200px;
                            flex-grow: 1;
                            text-align: center;
                        }
                        .statistic-number {
                            color: #FFB800;
                            font-size: 50px;
                            line-height: 58px;
                            margin-bottom: 35px;
                        }
                    }
                    
                    @media (max-width: 940px) {
                        .menu-header {
                            display: none;
                        }
                        .mobile-menu-button {
                            display: inline-block;
                            cursor: pointer;
                            margin-left: 50px;
                        }
                        ._menu-header-active {
                            display: block;
                            position: fixed;
                            transform: translateY(50px);
                            background-color: #23272c;
                        }
                        ._menu-header-active ul {
                            min-width: 100px;
                        }
                        ._menu-header-active li {
                            display: block;
                            text-align: right;
                            margin-left: 0;
                            font-size: 14px;
                            line-height: 26px;
                            padding: 0 5px 0 20px;
                        }
                        .menu-help-wrapper {
                            justify-content: flex-end;
                        }
                        .box-about-main-wrapper {
                            padding-top: 150px;
                        }
                        .box-about-main-text {
                            text-align: center;
                            max-width: 600px;
                            margin: 0 auto 50px;
                            line-height: 38px;
                        }
                        .box-tour-seach-wrapper {
                            position: relative;
                            max-width: 500px;
                            margin: 80px auto;
                            padding: 42px 70px 55px;
                            right: 0px;
                            top: 0px;
                        }
                        .box-about {
                            margin: 80px 0 21px;
                        }
                    }
                    
                    @media (max-width: 880px) {
                        .box-about-wrapper {
                            justify-content: space-evenly;
                        }
                        .box-about-card {
                            width: 280px;
                            margin-top: 20px;
                        }
                    }
                    
                    @media (max-width: 800px) {
                        body,
                        a,
                        .button,
                        .box-reviews-of-clients-wrapper p {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        h1 {
                            font-size: 30px;
                            line-height: 36px;
                        }
                        h2 {
                            font-size: 20px;
                            line-height: 24px;
                        }
                        h3 {
                            font-size: 18px;
                            line-height: 22px;
                        }
                        .box-direction {
                            width: 280px;
                            margin: 20px;
                        }
                        .tour-wrapper {
                            top: 100px;
                        }
                        .box-direction-discription {
                            height: 300px;
                        }
                        .box-direction:hover .tour-wrapper {
                            top: 120px;
                        }
                        .box-direction:nth-of-type(5),
                        .box-direction:nth-of-type(6) {
                            display: none;
                        }
                        .box-statistic-card {
                            font-weight: 500;
                            max-width: 150px;
                            flex-grow: 1;
                            text-align: center;
                        }
                        .statistic-number {
                            color: #FFB800;
                            font-size: 35px;
                            line-height: 40px;
                            margin-bottom: 10px;
                        }
                        .box-our-blog-card-first a {
                            font-size: 20px;
                            line-height: 24px;
                        }
                        .our-contacts-wrapper {
                            flex-wrap: wrap;
                            justify-content: space-around;
                        }
                        .our-contacts {
                            margin: 10px 30px;
                        }
                    }
                    
                    @media (max-width: 690px) {
                        .box-direction:nth-of-type(4) {
                            display: none;
                        }
                    }
                    
                    @media (max-width: 600px) {
                        .box-statistic-card {
                            max-width: 200px;
                            flex-grow: 1;
                            margin: 20px 20px;
                        }
                        .our-contacts-wrapper {
                            max-width: 290px;
                            padding: 14px 0 35px;
                            margin: auto;
                            justify-content: flex-start;
                        }
                        footer a:not(.box-social-media a:first-child),
                        footer span {
                            font-size: 12px;
                            line-height: 16px;
                            color: #FFFFFF;
                            padding-left: 10px;
                        }
                    }
                    
                    @media (max-width: 580px) {
                        .language-button {
                            display: none;
                        }
                        .language-button-switch {
                            display: inline-block;
                            color: #fff;
                            font-size: 16px;
                            line-height: 20px;
                            cursor: pointer;
                        }
                        ._language-switch-active {
                            display: block;
                            position: fixed;
                            transform: translateY(15px);
                            background-color: #23272c;
                        }
                        ._language-switch-active li {
                            display: block;
                            text-align: left;
                            font-size: 14px;
                            line-height: 26px;
                            color: #fff;
                            padding: 0 20px 0 5px;
                        }
                        .box-our-blog-card-second {
                            justify-content: center;
                        }
                        .box-our-blog-card {
                            margin: 20px;
                        }
                    }
                    
                    @media (max-width: 530px) {
                        .box-tour-seach-wrapper input,
                        .box-tour-seach-wrapper select {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 10px;
                            letter-spacing: 0;
                            padding: 8px 5px;
                        }
                        .box-tour-seach-wrapper label {
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 10px;
                            letter-spacing: 0;
                            padding: 8px 0;
                        }
                    }
                    
                    @media (max-width: 500px) {
                        .header-wrapper {
                            align-items: center;
                        }
                        .logo-language-wrapper {
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                        }
                        .menu-help-wrapper {
                            transform: translateY(-15px);
                            align-items: baseline;
                        }
                        .language-button-switch {
                            margin-top: 15px;
                        }
                        ._language-switch-active {
                            transform: translate(-20px, 40px);
                        }
                        ._language-switch-active li {
                            padding: 0 20px 0 5px;
                        }
                        .logo {
                            margin-bottom: 20px;
                        }
                        .help-button {
                            padding: 5px 15px;
                            font-size: 16px;
                        }
                        .box-about-main-text {
                            width: 300px;
                        }
                    }
                    
                    @media (max-width: 430px) {
                        .mobile-menu-button {
                            margin-left: 20px;
                        }
                        .box-tour-seach-wrapper {
                            padding: 30px 30px 35px;
                        }
                        .trip-start,
                        .trip-duration {
                            display: block;
                            width: 100%;
                        }
                    }
                    
                    @media (max-width: 380px) {
                        .mobile-menu-button {
                            margin-left: 10px;
                        }
                        .help-button {
                            padding: 5px 10px;
                            font-size: 14px;
                        }
                    }
                    
                    @media (max-width: 350px) {
                        .help-button {
                            padding: 2px 5px;
                            font-size: 12px;
                        }
                    }